.container {
    width: var(--default-layout-width);
    max-width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
    display: flex;
}
.category {
    width: 200px;
}
.category .headline {
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #bebebe;
}
.content {
    flex: 1;
    padding-left: 30px;
}
ul.productCategory {
    padding-left: 15px;
    list-style: none;
}
ul.productCategory li {
    box-sizing: border-box;
    margin-top: 15px;
}

ul.productCategory li .productCategory-name {
    color: #334862;
    font-size: 17px;
}
ul.productCategory li:hover .productCategory-name {
    color: #fe2c55;
    cursor: pointer;
}
ul.productCategory li:hover {
    cursor: pointer;
}
ul.products {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
ul.products li {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.products-no {
    text-align: center;
    width: 100%;
    padding-top: 30px;
}
.products-no-title {
    font-size: 18px;
}
.pagination {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
}
.pagination .page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
}
.pagination .page-num:hover {
    background-color: #fe2c55;
    color: #fff;
}

.pagination .active {
    background-color: #fe2c55;
    color: #fff;
}
